.button {
    height: 2rem;
    padding: 0.3rem 0.5rem;
    cursor: pointer;
    width: 3rem;
    margin: 0 0.5rem;
    border-color: transparent;
    border-radius: 0.6rem;
}

.red {
    background-color: rgb(233, 18, 18);
}

.green{
    background-color: rgb(91, 231, 91);
}