
.Q {
    height: 30rem;
    margin: auto;
    margin-top: 8rem;
}

.question {
    height: 20%;
    border-radius: 0.6rem;
    text-align: center;
    padding-top: 1.5rem;
    margin-bottom: 1.5rem;
    box-shadow: 5px 5px 7px lightblue ;
}

.options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.answer {
    border-radius: 0.6rem;
    display: flex;
    width: 45%;
    text-align: center;
    padding: 1rem;
    margin: 1rem 0;
    cursor: pointer;
    box-shadow: 3px 3px 4px lightblue ;
}

.blue {
    background-color: rgb(49, 49, 204);
}

.answer > h3{
    margin-right: 0.7rem;
}

.answer:hover {
   background-color: rgb(49, 49, 204);
   transition: 0.335s;
}

.confirmation {
    width: 100%;
    text-align: center;
    margin-top: 1rem;
    transition: slide-down 1000ms ease-out forwards;
}

.confirmation h3 {
    margin: 1rem 0;
    font-style: italic;
}