.container {
    padding-top: 14rem;
    height: 100vh;
    width: 100vw;
    background: url('https://editorial.uefa.com/resources/025e-0fac62eb08cc-e6eec4b938a5-1000/ucl-breaking-news.jpg');
    background-size: cover;
}

.containerContent {
    width: 40%;
    padding: 1rem;
}

@media screen and (max-width: 450px) {
  .containerContent {
      width: 100%;
  }

  .container {
     text-align: center;
  }
}

.appName {
    font-style: italic;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
}

.detail em {
   display: block;
   margin-bottom: 2rem;
}

.play {
   margin-top: 3rem;
}

.playButton {
    width: 4rem;
    margin: 0 0.5rem;
    height: 2rem;
     color: white;
     background-color: transparent;
     border-radius: 0.6rem;
     border-color: transparent;
    cursor: pointer;
    box-shadow: 5px 5px 7px lightblue ;
}

.playBounce {
    animation: bounce 1s infinite;
   
  }
  
  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
  