.overallContainer {
    height: 100vh;
    width: 100vw;
}

.itemsContainer {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

@media screen and (min-width: 400px) {
    .itemsContainer {
      height: 80%;
    }
  }

.item {
    display: flex;
    
}

.item span{
    height: 0;
    width: 2rem;
    border: 1px solid rgb(91, 231, 91);
   align-self: center;
}


.pentagon {
    margin: 0 1.5rem ;
    border-radius: 50%;
    position: relative;
    height: 7rem;
    width: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;

}

.structure{
    border-radius: 50%; 
}

.addAnimation {
     animation: pentagonswitch 2s ease-out forwards;
}

.answered {
    height: 7rem;
    width: 7rem; 
}

.passedColor {
    background-color: rgb(91, 231, 91);
   
}

.failedColor {
    background-color: rgb(233, 18, 18);
}

.structure h2 {
    position: absolute;
    top: 38%;
    left: 40%;
}

.buttonContainer {
    width: 100%;
    height: 20%;
    text-align: center;
}

@keyframes pentagonswitch {
    0%{
     height: 0;
     width: 0;
    }
    100%{
    height: 7rem;
    width: 7rem;
    }
}